html {
	height: 100%;
	font-family: 'Droid Serif', serif, Times;
}
body {
	
	background: url("img/ps_neutral.png");
	margin: 0;
	border: 0;
	height: 100%;
	
}
div.container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */

}

a {
	text-decoration: none;
	color: #225237;
	
}
a:hover {
	color: #108143;
}
input {
	font-size: 120%;
	
}
input text {
	font-size: 120%;
	width: 100px;
}
input.full {
	width: 95%;
	
}
input.short {
	width: 90px;
	
}
select {
	font-size: 120%;
	min-width: 200px;
}
select.short {
	font-size: 120%;
	min-width: 120px;
}
.bold {
	font-weight: bold;
}
.inactive {
	color: #b3b3b3;
	
}
h2.header {
	text-align: center;
}
h3.header {
	text-align: center;
}
h4 {
	text-align: center;
	margin: 5px;
	
}
div.messagebox {
	margin: auto;
	overflow: hidden;
	width: 400px;
	min-height: 100px;
	background: #fff;
	margin-top: 25px;
	border-radius: 8px;
	border: 1px solid #ADCABB;
}
img.messageicon {
	margin: 10px;
	margin-left: 20px;
	float: left;
}
p.messagetext {
	float: left;
	margin: 8px;
	font-size: 130%;
}
div.topcont {
	
	min-height: 30px;
	padding: 5px;
	overflow:hidden;
	
	background: #c1decf; /* fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(193,222,207,0.6)), to(rgba(193,222,207,0.3))), url('img/green_cup.png'); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, rgba(193,222,207,0.6), rgba(193,222,207,0.3)), url('img/green_cup.png'); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top, rgba(193,222,207,0.6), rgba(193,222,207,0.3)), url('img/green_cup.png'); /* FF3.6+ */
	background: -ms-linear-gradient(top, rgba(193,222,207,0.6), rgba(193,222,207,0.3)), url('img/green_cup.png'); /* IE10 */
	background: -o-linear-gradient(top, rgba(193,222,207,0.6), rgba(193,222,207,0.3)), url('img/green_cup.png'); /* Opera 11.10+ */
	background: linear-gradient(to bottom, rgba(193,222,207,0.6), rgba(193,222,207,0.3)), url('img/green_cup.png'); /* W3C */
}
div.logoandtext {
	font-family: 'Lobster', cursive;
}
div.logo {
	float: left;
	margin-top: 5px;
	font-size: 150%;
	font-weight: bold;
}
div.account {
	float: left;
	margin-top: 2px;
	margin-left: 25px;
	font-size: 120%;
	padding: 5px;
	
}
div.logout {
	float: right;
	
}
div.logo_holder {
	float: left; 
	background: #f0f0f0;
	border-radius: 4px;
	border: 0px solid #000;
	min-width: 150px;
	min-height: 150px;
	padding: 4px;
	margin: 5px;
}
/*hidden items for small display */
.big_screen {
	
}
.small_screen {
	display:none;
}
/*user settings with logout for small displays*/
.sbar {
	
}
/* Action buttons */
div.buttons {
	
	width: 95%;
	margin: auto;
	padding: 3px;
	overflow:hidden;
	margin-bottom: 10px;
}
div.buttons div {
	background: #fff;
	float: left;
	margin: 10px;
	border: 1px #000 solid;
	border-radius: 8px;
	padding: 8px;
}
div.buttons div.inactive {
	border: 1px solid #b3b3b3;
}

div.buttons div.header {
	background: none;
	border: 0px #000 solid;
	border-bottom: 2px #225237 solid;
	border-radius: 0px;
	padding: 6px;
	font-size: 140%;
	margin: 8px;
}
.usebutton {
	background: #fff;
	display:inline;
	float: left;
	color: #225237;
	border: 1px solid #225237;
	border-radius: 4px;
	padding: 8px;
	margin: 8px;
}
div.div50 {
	
	width: 50%;
	float: left;
	overflow: hidden;
	
}
div.div33 {
	
	width: 33%;
	float: left;
	overflow: hidden;
	
}
.listbutton {
	display:block;
	width: 90%;
	min-height: 80px;
	padding: 5px;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
}
.listbutton span {
	font-size: 140%;
	
}
.bigbutton {
	display:block;
	width: 90%;
	min-height: 80px;
	padding: 5px;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
}
.bigbutton span {
	font-size: 160%;
	
}
.button {
	display:block;
	float: left;
	padding: 5px;
	margin: 4px;
	
}
.cbutton {
	width: 60%;
	padding: 5px;
	margin: auto;
	white-space: nowrap;
}
/*styling for buttons*/
.bigstyle {
	background: #f6faf8; /* fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(#f6faf8), to(#dfe3e1)); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, #f6faf8, #dfe3e1); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top, #f6faf8, #dfe3e1); /* FF3.6+ */
	background: -ms-linear-gradient(top, #f6faf8, #dfe3e1); /* IE10 */
	background: -o-linear-gradient(top, #f6faf8, #dfe3e1); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #f6faf8, #dfe3e1); /* W3C */
	border: 1px solid #bbc0cc;
	border-radius: 8px;
	color: #225237;
	font-family: serif, Times;
}
.bigstyle:hover {
	background: #fff;
	border: 1px solid #676c77;
	border-radius: 8px;
	
}
.bstyle {
	background: #f6faf8; /* fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(#f6faf8), to(#dfe3e1)); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, #f6faf8, #dfe3e1); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top, #f6faf8, #dfe3e1); /* FF3.6+ */
	background: -ms-linear-gradient(top, #f6faf8, #dfe3e1); /* IE10 */
	background: -o-linear-gradient(top, #f6faf8, #dfe3e1); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #f6faf8, #dfe3e1); /* W3C */
	border: 1px solid #bbc0cc;
	border-radius: 8px;
	color: #225237;
	font-family: serif, Times;
}
.bstyle:hover {
	background: #fff;
	border: 1px solid #676c77;
	border-radius: 8px;
	
}
span.settingtext {
	padding: 5px;
}
span.settingicon {
	
}
span.settingicon img {
	float: right;
}
/* menu */
div.menu {
	width: 100%;
	min-height: 35px;
	overflow: auto;
	
	border-bottom: 1px solid #acbbac;
	
	background: #BFD8EF; /* fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(223,227,225,0.5)), to(rgba(246,250,248,0.5))); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, rgba(223,227,225,0.5), rgba(246,250,248,0.5)); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top, rgba(223,227,225,0.5), rgba(246,250,248,0.5)); /* FF3.6+ */
	background: -ms-linear-gradient(top, rgba(223,227,225,0.5), rgba(246,250,248,0.5)); /* IE10 */
	background: -o-linear-gradient(top, rgba(223,227,225,0.5), rgba(246,250,248,0.5)); /* Opera 11.10+ */
	background: linear-gradient(to bottom, rgba(223,227,225,0.5), rgba(246,250,248,0.5)); /* W3C */
	
}
.menuitem {
	background: #fff;
	border: 1px solid #000;
	border-radius: 8px;
	padding: 8px;
	margin: 10px;
	float: left;
	min-width: 100px;
	font-size:130%;
	text-align: center;
}
div.menuitem:hover   {
	color: #108143;
}


/*for specialized items*/
div.menu_lower {
	width: 90%;
	min-height: 25px;
	overflow: auto;
	margin: auto;
	
}
.loweritem {
	background: #fff;
	border-bottom: 1px solid #acbbac;
	border-left: 1px solid #acbbac;
	border-right: 1px solid #acbbac;
	border-radius: 0px 0px 8px 8px;
	padding: 5px;
	margin: 10px;
	margin-top: 0px;
	float: left;
	min-width: 100px;
	font-size:110%;
	color: #406b3d;
	text-align: center;
}
.menuactive {
	background: #CDDCCD;
}

.right {
	
	float: right
}
.center {
	text-align: center;
}

label.formheader {
	display:inline-block;
	background: #f0f0f0;
	min-width: 40%;
	font-size: 150%;
	padding: 3px;
	margin: 5px;
}
/* login */
table.login {
	margin-bottom: 20px;
}
div.login {
	margin:auto;
	background: #CDDCCD;
	border: 1px solid #000;
	border-radius: 8px;
	width: 400px;
	padding: 15px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 120%;
}
div.login input {
	margin-bottom: 5px;
	font-size: 100%;
}
div.reg {
	margin-top: 40px;
	
}
.correct {
	background: green;
}
/*abc links*/
.abc_container {
	background: #f0f0f0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(225,225,225,1)), to(rgba(225,225,225,0))); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, rgba(225,225,225,1), rgba(225,225,225,0)); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top, rgba(225,225,225,1), rgba(225,225,225,0)); /* FF3.6+ */
	background: -ms-linear-gradient(top, rgba(225,225,225,1), rgba(225,225,225,0)); /* IE10 */
	background: -o-linear-gradient(top, rgba(225,225,225,1), rgba(225,225,225,0)); /* Opera 11.10+ */
	background: linear-gradient(to left, rgba(225,225,225,1), rgba(225,225,225,0)); /* W3C */
	position: absolute;
	right: 0px;
	width: 40px;
	clear: both;
}
.abc_item {
	background: #fff;
	margin: 6px;
	padding: 4px;
	min-width: 20px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 6px;
	float: left;
	font-weight: bold;
}

/*^main stuff */

div.main_box {
	min-height: 400px;
	padding: 5px;
	padding-bottom: 40px; /* for footer */
}

div.frontcont {
	width: 95%;
	min-height: 300px;
	margin: auto;
	margin-bottom: 20px;
	background: #fff;
	overflow:hidden;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 8px;
	border: 1px solid #E0E9E3;
}
div.centercont {
	width: 800px;
	min-height: 300px;
	margin: auto;
	margin-bottom: 20px;
	background: #fff;
	overflow:hidden;
	border-radius: 8px;
	border: 1px solid #E0E9E3;
}
div.fullcont {
	width: 95%;
	min-height: 300px;
	margin: auto;
	margin-bottom: 20px;
	background: #fff;
	overflow:hidden;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid #E0E9E3;
}
div.widgetcont {
	float: left;
	width: 25%;
	margin: auto;
}
div.widget {
	border-radius:8px;
	border: 1px solid #f0f0f0;
	width: 95%;
	min-height: 400px;
	padding: 0.5%;
	margin: auto;
	margin-bottom: 8px;
	font-size: 90%;
}
.itemheader {
	font-size: 90%;
	border-top: 1px solid #225237;
	margin: 3px;
}
div.header {
	background: none;
	color: #225237;
	border: 0px #000 solid;
	border-bottom: 2px #225237 solid;
	border-radius: 0px;
	padding: 6px;
	font-size: 140%;
	margin: 8px;
}
/*chart items*/
.chartcont {
	width: 95%;
	margin: auto;
	background: #f0f0f0;
	border-radius: 8px;
}
.linecont {
	width: 95%;
	padding: 2px;
	overflow: hidden;
}
.chartheader {
	margin: 4px;
	float: left;
	width: 40%;
	border-bottom: 1px solid #000;
	
}
.chartbarcont {
	float: left;
	width: 53%
	
}
.chartbar {
	background: #4A864D;
	float: left;
	text-align: right;
	font-size: 70%
	padding: 4px;
	padding-right: 5px;
	margin: 2px;
	min-width: 10px;
	
}
/* list stuff */
.pub {
	color: #919b38;
}
table.list {
	width: 100%;
	
}
table.list td {
	padding: 5px 10px;;
	font-size: 110%;
}
table.list tr td:first-child {
	text-align: left;
	
}
table.list tr:nth-child(odd) {
	background: #f0f0f0;
}
table.list tr:nth-child(even) {
	background: #d9d9d9;
}
.large {
	font-size: 110%;
}
.large th {
	padding: 5px;
}
.large td {
	
	padding: 10px 10px;
	text-align: center
}
table.grid {
	width: 100%;
	font-size: 110%;
}
table.grid tr {
	background: #f0f0f0;
}
table.grid tr td:first-child {
	
	width: 150px;
}
table.grid td {
	padding: 5px;
	text-align: left;
}
table.grid td.head {
	color: #108143;
	width: 150px;
	text-align: center;
}
.popitbox {
	display: none;
	position: absolute;
	background: #F0F0C4;
	border: 1px solid #4A4A1E;
	padding: 6px;
	right: 10px;
}
.selclass {
	background: #99D99C;
}

/*reports*/
table.list tr td.report_header {
	font-weight: bold;
	font-size: 140%;
	background: #fff;
	text-align: center;
}
/* container for small boxes */

.smbox {
	width: 47%; 
	float: left;
	margin: 1%;
	min-height: 150px;
}
.smbox:nth-last-child(even) {
	
	float: right;
}
/*todo*/
.todocontent {
	background: #f0f0f0;
	padding: 5px;
	margin-top: 10px;
}
.todocontent h3 {
	text-align: center; 
}
.todocontent p {
	text-align: center;
}
/*admin */
.imgshow {
	min-height: 150px;
}
.console {
	position: absolute;
	z-index: 100;
	left: 10px;
	bottom: 0px;
	min-width: 200px;
	min-height: 30px;
	border: 1px solid #596961;
	border-radius: 8px 8px 0px 0px;
	background: #f0f0f0;
	opacity: 0.7;
}
.console div {
	text-align: center; 
	width: 100%; 
	
}
.red {
	color: red;
}
.green {
	color: green;
}
/* footer */
div.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #c1decf;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(193,222,207,0.4)), to(rgba(193,222,207,0.2))), url('img/green_cup.png'); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, rgba(193,222,207,0.4), rgba(193,222,207,0.2)), url('img/green_cup.png'); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top, rgba(193,222,207,0.4), rgba(193,222,207,0.2)), url('img/green_cup.png'); /* FF3.6+ */
	background: -ms-linear-gradient(top, rgba(193,222,207,0.4), rgba(193,222,207,0.2)), url('img/green_cup.png'); /* IE10 */
	background: -o-linear-gradient(top, rgba(193,222,207,0.4), rgba(193,222,207,0.2)), url('img/green_cup.png'); /* Opera 11.10+ */
	background: linear-gradient(to bottom, rgba(193,222,207,0.4), rgba(193,222,207,0.2)), url('img/green_cup.png'); /* W3C */
	
	text-align: center;
	border-top: 1px solid #839283;
	padding-top: 10px;
}
